---
import MainLayout from '../layouts/MainLayout.astro';
import GalleryPost from '../components/GalleryPost.astro';

import { contentfulClient } from '../lib/contentful';
import type { IGalleryPost, GalleryPostEntry } from '../types/galleryPost';

const entries = await contentfulClient.getEntries<IGalleryPost>({
    content_type: 'galleryPost',
});

const posts = entries.items as unknown as GalleryPostEntry[];
---

<MainLayout title='Galleri'>
    <h1 class='text-3xl font-bold mb-6'>Galleri</h1>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
        {posts.map((post) => <GalleryPost post={post} />)}
    </div>
</MainLayout>
