---
import MainLayout from '../layouts/MainLayout.astro';
import GalleryPost from '../components/GalleryPost.astro';

import { contentfulClient } from '../lib/contentful';
import type { IGalleryPost, GalleryPostEntry } from '../types/galleryPost';

const entries = await contentfulClient.getEntries<IGalleryPost>({
    content_type: 'galleryPost',
});

const posts = entries.items as unknown as GalleryPostEntry[];

console.log(posts);
---

<MainLayout title='Galleri'>
    <h1 class='text-3xl mb-6 fade-in-element'>Galleri</h1>
    <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6'>
        {
            posts.map((post) => {
                // Check if the post has the correct fields and an image
                if (!post.fields.image || !post.fields.image.fields.file) {
                    return null;
                }
                const aspectRatio =
                    (post.fields.image.fields.file.details.image?.height ?? 1) /
                    (post.fields.image.fields.file.details.image?.width ?? 1);
                const isLandscape = aspectRatio < 1;
                return (
                    <div class={isLandscape ? 'col-span-1 sm:col-span-2' : 'col-span-1'}>
                        <GalleryPost post={post} />
                    </div>
                );
            })
        }
    </div>
</MainLayout>
