---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';

import profilbilde from '../assets/images/profilbilde.jpeg';
import { Icon } from 'astro-icon/components';
---

<MainLayout title='Om'>
    <article class='flex w-full md:flex-row flex-col gap-6 md:gap-12'>
        <!-- Left side -->
        <Image
            src={profilbilde}
            alt={'Profilbilde'}
            width={300}
            height={300}
            widths={[240, 540, 720]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, 720px`}
            quality={'high'}
            loading={'eager'}
            class='md:w-1/2 w-full object-cover rounded-lg'
        />

        <!-- Right side -->
        <div class='w-full flex flex-col justify-between'>
            <section>
                <h1 class='mb-5'>Om meg</h1>

                <!-- Biography -->
                <div class='flex flex-col gap-4 mb-12 tracking-wider'>
                    <p>
                        Hei og hå! Mitt namn er Elisabeth Fure Schwarz, og det er eg som står bak enkeltpersonforetaket
                        Fure.kunst.
                    </p>

                    <p>
                        Frå 2019-2021 gjekk eg på Einar Granum Kunstfagskule, der eg andre året hadde fordjupning i
                        maleri og billedkunst. Sidan då har eg solgt både originalar og print av det eg har laga, mest
                        gjennom marknadsføring på instagramkontoen min Fure.kunst.
                    </p>

                    <p>
                        Mitt favorittmedium å male med er akvarell, men det går også mykje i akryl og litt i olje. Elles
                        finn du fleire tegningar laga med tusj og penn.
                    </p>

                    <p>
                        Ta gjerne kontakt om du skulle vere interessert i noko av det du finn her på nettsida, eller om
                        du har ønske om å bestille eit personleg bilde.
                    </p>
                </div>
            </section>

            <section>
                <h1 class='text-2xl mb-4 text-gray-500 mt-4'>Kontakt</h1>

                <!-- Socials/contact -->
                <div class='flex flex-col gap-4 font-didot'>
                    <a
                        href='mailto:fure.kunst@gmail.com'
                        class='text-gray-500 hover:text-gray-800 transition-colors duration-300 flex gap-4 text-xl items-center'>
                        <Icon name='mdi:email' class='w-8 h-8' />
                        <span class='sr-only'>Email</span>
                        fure.kunst@gmail.com
                    </a>
                    <a
                        href='https://www.instagram.com/fure.kunst'
                        target='_blank'
                        rel='noopener noreferrer'
                        class='text-gray-500 hover:text-gray-800 transition-colors duration-300 flex gap-4 text-xl items-center'>
                        <Icon name='mdi:instagram' class='w-8 h-8' />
                        <span class='sr-only'>Instagram</span>
                        Instagram
                    </a>
                    <a
                        href='https://www.facebook.com/fure.kunst/'
                        target='_blank'
                        rel='noopener noreferrer'
                        class='text-gray-500 hover:text-gray-800 transition-colors duration-300 flex gap-4 text-xl items-center'>
                        <Icon name='mdi:facebook' class='w-8 h-8' />
                        <span class='sr-only'>Facebook</span>
                        Facebook
                    </a>
                </div>
            </section>
        </div>
    </article>
</MainLayout>
