---
// You can import any necessary components here
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// You can also define any props here if needed
const { title } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{title} | Furekunst</title>
        <!-- Add any other meta tags, stylesheets, or scripts here -->
    </head>
    <body class='flex flex-col min-h-screen'>
        <Header />

        <main class='flex-grow container mx-auto mt-8 px-3 md:px-1.5 lg:px-0'>
            <slot />
        </main>

        <Footer />
    </body>
</html>

<style is:global>
    /* FONTS */
    @font-face {
        font-family: 'DistantGalaxy';
        src: url('/fonts/DistantGalaxy.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
