---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

// You can also define any props here if needed
const { title } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='icon' href='/favicon.svg' />
        <title>{title} | Furekunst</title>
        <!-- Add any other meta tags, stylesheets, or scripts here -->

        <ViewTransitions />
    </head>
    <body class='flex flex-col min-h-screen bg-pastel font-body text-primary'>
        <Header />

        <main id='innhold' class='flex-grow container mx-auto mt-8 px-3 md:px-1.5 lg:px-0' transition:animate='fade'>
            <slot />
        </main>

        <Footer />
    </body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    h1 {
        @apply text-2xl md:text-3xl font-didot text-gray-600;
    }

    h2 {
        @apply text-xl md:text-2xl font-didot text-gray-500;
    }
</style>
